
#summ_auth {
	border-radius:5px; 
	box-shadow:0 0 8px #999;
	width:700px;
	padding:20px 20px 40px;
	margin:100px auto;
	text-align:center;
}
#summ_auth h2,
#summ_auth h3{
	font-weight:normal; 
}
#summ_auth h2{
	padding-bottom:140px;
	background:url(../img/logo.png) 50% 100% no-repeat;
}
#summ_auth h3{
	margin-bottom:35px;
}
#summ_auth h3 span{
	position:relative;
}
#summ_auth h3 span:after,
#summ_auth h3 span:before{
	content:"";
	position:absolute;
	top:0;
	left:-40px;
	width:40px;
	height:40px;
	background:url(../img/icon_green_person.png) 0 0 no-repeat;
	background-size:contain;
	transform: rotate(-25deg);
}
#summ_auth h3 span:after{
	background-image:url(../img/icon_red_person.png);
	transform: rotate(25deg);
	left:initial;
	right:-45px;
}
#summ_auth copyright{
	display:block;
}
#summ_auth disclaim{
	display:block; 
	width:80%;
	margin:15px auto;
	font-style:italic;
}
#summ_auth .checkauth{
	color:red;
	margin-bottom:30px;
}
#summ_auth .checkauth input {
	display:inline-block;
	margin-right:3px;
}
#summ_auth .btn{
	width:80%;
}

.alert-danger{
    width: 700px;
    position: fixed;
    top: -55px;
    left: 50%;
    margin-left: -350px;
    text-align: center;
    transition:top 2x ease-in-out;
}
.alert-danger.show{
	top:-5px;
}
.alert-danger ul ,li{
	margin:0;
	padding:0; 
	list-style:none;
}









#content{
	min-height:100vh;
	position:relative;
}

nav { 
	border-bottom:1px solid #999; 
	box-shadow:0 0 5px #ccc;
	padding:5px 40px;
	overflow:hidden;
}
nav h2 { 
	font-size:150%;
	margin:0;
}
nav h2 a,
nav h2 a:hover {
	display: inline-block;
	width: 550px;
    height: 50px;
    background: url(../img/splash_loading_dt.gif) 0 0 no-repeat;
    background-size: 30%;
    padding-left: 175px;
    text-decoration: none;
    color: #4F504E;
    line-height: 330%;
}
nav .context_buttons{
	height:50px;
	line-height:400%;
}
nav .btn{
	margin-left:8px;
}

#main_box {
	overflow:hidden;
	min-height:calc(100vh - 135px);
	padding:0 40px;
}
.allwalks #main_box{
	padding:0;
}

#footer {
	width:100%;
	bottom:0;
	margin-top:30px;
	padding:12px 0;
	border-top:1px solid #999; 
	text-align:center;
	box-shadow:0 0 5px #ccc;
	color:#fff;
	background:#C90C28;
}
#footer a {
	color:#fff;
}