fieldset {
	margin-bottom:30px; 
	font-size:108%;
	font-family:arial;
}
legend{
	font-size:140%;
}

label{
	margin-bottom:20px;
	display:block; 
}

label input[type='password'],
label input[type='text']{
	width:300px;
	border-radius:5px; 
	padding:5px 10px;
	font-size:120%
}

label span {
	display:inline-block; 
	font-size:85%;
	margin-right:10px; 
	font-weight:bold;
}

.text_key{
	margin-bottom:10px;
}
.text_key span{
	width:134px; 
}
label .key + input {
	width:250px; 
}	
.val{
	margin-left:15px; 
}
label .val + input {
	width:80%; 
}

.app_meta span {
	width:180px; 
}
.app_meta .languages div {
	margin-bottom:10px; 
}
.app_meta .code {
	width: 40px;
}
.app_meta .full {
	width: 70px;
	margin-left:15px; 
}
.app_meta .code + input {
	width: 60px; 
}
span:after{
	content:":";
}

hr{
	margin:30px 20px;
	border-top:1px solid #ccc; 
}
hr.answer_div{
	border-top:1px solid lightblue;
}

.one_unit {
	position:relative; 
}
.delete_parent {
	position:relative; 
	right:-10px; 
	display:inline-block; 
	text-decoration:none;
}
.delete_parent,
.delete_parent:visited{
	color:blue;
}


.configurator legend {
	cursor:pointer;
}
.configurator .fieldbody{
	display:none;
}

.configurator .open .fieldbody{
	display:block;
}

hgroup {
	position:relative;
	overflow:hidden;
}
hgroup a {
	float:right;
	clear:right;
}

.nlbr {
	width:80%;
	height:100px;
	vertical-align:top;
	font-size:120%;	
}


.app_meta{
	position:relative;
	margin:15px 0;
}
#delete_project{
	display:block;
	border:1px solid #888;
	padding:12px 15px;
	position:absolute;
	top:50px;
	right:30px;
	border-radius:5px;
	background:red;
	color:#fff;
	font-weight:Bold;
	text-decoration:none;
}

label{
	display:block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

hgroup{
	border-bottom:1px solid #999;
	padding:0 20px 10px;
	overflow:hidden;
}
hgroup h1{
	float:left; 
	margin:0;
}

#project_config{
	overflow:hidden;
	padding:20px;
}


.btn-default{
	
	background-color:orange;
}
form.template #delete_project,
.consent_trans,
.survey_trans,
.app_trans{
	opacity:0;
	position:absolute;
	z-index:-1000;
}

.tpl_instructions {
	color: red;
    display: inline-block;
    margin: 0 10px;
    font-style: italic;
    font-size: 130%;
}

#project_folders{
	float:left;
	width:58%;
}

.folderbar .pull-left,
.folderbar .pull-right{
	width:49%;
}
.folderbar .pull-left{
	margin-top:20px;
}
#rec-table {
	border-collapse: collapse;
	position:relative;
	width:40%;
	float:right;
	margin:30px 0;
	top:0;
}

#rec-table h3 {
	margin:0 0 10px;
}
#rec-table .btn {
	 float:right;
	 margin-bottom:10px;
}
.tablehead{
	cursor:pointer;
}
th{
	border: 1px solid #dddddd;
	text-align: left;
	padding:8px;
}

input[readonly]{ 
	background:#efefef;
	color:#999;
}
.deleteArea{
	max-width: 70px;
	max-height: 70px;
	float: right;


}
.trash-hover{
	background-color: red;
}


.hiddenFolders{
	display: none;


}

#organization_sector{
	width:100%;
	padding:20px 0;
	overflow:hidden;
}
#organization_sector h4 {
	margin:0 0 10px;
}
#organization_sector h4 em {
	font-size:70%;
}
.folderbar{
	display:block;
	overflow:hidden;
}
#folderspace{
	padding:20px;
	display:inline-block;
	float:left;
	width:49%;
	background: #efefef;
    border-radius: 5px;
    min-height:600px;
}
#workingspace{
	padding:20px;
	display:inline-block;
	float:right;
	width:49%;
	background:#efefef;
	border-radius:5px;
    min-height:600px;
}
.ui-widget-drop{
	width: 111px; height: 96px; padding: 0.5em; 
	margin: 10px;
	margin-left: 20px; 
	text-align: center; 
	/*background-image: url('img/FolderClose.svg');*/
	background-color: transparent;
	background-size: 100%;
	line-height: 600%;
	background-repeat: no-repeat;
	font-size: 14px;
	display:block;


}

.ui-widget-drag, .foldercontents{
	padding: 5px; 
	float: left; 
	margin: 0px 4px 4px; 
	text-align: center;
	border: transparent;
	width: 80px;
	font-size: 11px;
	font-weight: bold;
	border:1px solid cornflowerblue;
	border-radius:3px;
	background-color: azure;
	display:inline-block;
	cursor:pointer;
} 
.ui-widget-drag p{
	margin:0;
}


.ui-state-highlight{
	background: transparent;
}

#nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#nav li{
	float:left;
}
#nav li a{
	display:block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}

#nav li a.on,
#nav li a:hover{
	background-color: #111;
}



#nav li input{
	position: relative;
	top:10px;
	width:200px;
}
#nav li img{
	max-width:18px;
	position: relative;
	top:12px;
	right:23px;
	z-index: 1;
}
#nav li img:hover{
	cursor: pointer;
}


.app_meta legend em{
	font-size:77%
}