#nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#nav li{
	float:left;
}
#nav li a{
	display:block;
	color:white;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}

#nav li a:hover{
	background-color: #111;
}


#root li{
	color:black;
}

.recent_times{
   	 background-image: linear-gradient(to right, yellow, transparent 50%);
}
	
.entry{
	min-width: 365px;
	border:solid;
	border-width: 1px;
	display: inline-block;
	margin:10px;
	background-color: #efefef;
	padding:5px 10px;
}
#root ul{
	column-count: 3;
}


body{
	display: block;
	margin: 0px;
}

#root{
	margin: 8px;
}
